// COLORS
$primary-color: #0F2027;
$secondary-color: #203A43;
$third-color: #2C5364;

$white-color: #fff;
$dark-grey: #333333;
$black: #111;

$btn-primary: #b92b27;
$btn-secondary: #1565C0;

$dark-blue-text: #272341; // For Headings

$gold-header: rgb(241, 199, 12);

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
